<section id="page">
  <header>
    <h1>Väder by Sigma</h1>
    <h2>Expect a sunnier tomorrow</h2>
  </header>
  <aside class="left"></aside>
  <main>
    <app-search></app-search>
    <app-main-display [cod]="cod"></app-main-display>
    <div *ngIf="weatherData">
      <p>Stad: {{weatherData.name}}</p>
      <p>Vädret: {{weatherData.weather[0].description}}</p>
    </div>
    <app-weekday-display></app-weekday-display>
    <app-weekday-display></app-weekday-display>
    <app-weekday-display></app-weekday-display>
    <app-weekday-display></app-weekday-display>
  </main>
  <aside class="right"></aside>
  <footer>Developed by Felicia Ringblom and John Pettersson</footer>
</section>
