<section id="page">
  <header>
    <h1>Weather by Sigma</h1>
    <h2>Expect a sunnier tomorrow</h2>
    <app-dropdown (selectedCity)="loadCity($event)"></app-dropdown>
  </header>
  <aside class="left"></aside>
  <main>
    <app-main-display [description]="weatherData?.weather[0].description" [cod]="weatherData?.weather[0].id" [temp]="weatherData?.main.temp"
      [windspeed]="weatherData?.wind.speed" [winddeg]="weatherData?.wind.deg" [city]="city">
    </app-main-display>
    <app-weekday-display *ngFor="let forecast of weatherForecastData" [day]="getDay(forecast?.dt_txt)" [description]="'clear sky'"
      [cod]="forecast?.weather[0].id" [maxtemp]="forecast.main.temp_max" [mintemp]="forecast.main.temp_min">
    </app-weekday-display>
  </main>
  <aside class="right"></aside>
  <footer>
    <p>Developed by Felicia Ringblom and John Pettersson</p>
  </footer>
</section>
