$blue: rgb(185, 212, 234);
$dark_blue: rgb(17, 53, 76);
$orange: rgb(219, 105, 51);
$yellow: rgb(248, 206, 70);
$red: rgb(202, 76, 76);
$light_yellow: rgb(249, 216, 107);
$light_blue: rgb(192, 216, 236);
$turquoise: rgb(163, 209, 212);
$light_turquoise: rgb(191, 223, 225);
$light_gray: rgb(242, 242, 242);
@font-face {
  font-family: 'weathericons';
  src: url('/assets/font/weathericons-regular-webfont.eot');
  src: url('/assets/font/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/font/weathericons-regular-webfont.woff2') format('woff2'), url('/assets/font/weathericons-regular-webfont.woff') format('woff'), url('/assets/font/weathericons-regular-webfont.ttf') format('truetype'), url('/assets/font/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  background-color: $light_blue;
  color: #fff;
}

h1 {
  font-weight: normal;
  font-size: 48px;
  text-transform: uppercase;
  color: $orange;
}

h2 {
  font-weight: normal;
  color: black;
}

#page {
  padding: 20px 0 0 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "head head head" "aside-left main aside-right" "foot foot foot";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 150px 1fr 100px;
}

header {
  grid-area: head;
  text-align: center;
}

main {
  grid-area: main;
  padding: 20px 0;
}

aside.left {
  grid-area: aside-left;
}

aside.right {
  grid-area: aside-right;
}

footer {
  grid-area: foot;
  text-align: center;
  font-weight: lighter;
  background-color: white;
  color: $orange;
  padding-top: 20px;
}

app-main-display {
  width: 100%;
  display: block;
  min-height: 200px;
  background-color: white;
  margin-top: 10px;
  background-color: $orange;
  .todays-weather {
    display: grid;
    grid-template-areas: "icon temp winddeg" "icon description windspeed";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    .weather_icon {
      grid-area: icon;
      font-size: 200px;
      font-family: 'weathericons';
      text-align: right;
      background-color: $dark_blue;
      color: white;
      padding: 0 40px;
    }
    .description {
      grid-area: description;
      font-size: 50px;
      padding: 0 50px 5px 50px;
      text-align: center;
      background-color: $red;
    }
    .temp {
      grid-area: temp;
      padding-left: 50px;
      font-size: 75px;
      color: black;
      background-color: $yellow;
      text-align: center;
      .temp_value {
        font-size: 150px;
      }
    }
    .windspeed {
      grid-area: windspeed;
      padding: 0 50px 5px 50px;
      font-size: 50px;
      background-color: $dark_blue;
    }
    .winddeg {
      grid-area: winddeg;
      font-family: 'weathericons';
      font-size: 200px;
      margin-top: -36px;
      max-height: 150px;
      padding: 0 40px;
    }
  }
}

app-weekday-display {
  width: 100%;
  display: block;
  min-height: 80px;
  background-color: white;
  margin-top: 10px;
  color: $orange;
  .weather_icon {
    font-size: 60px;
    font-family: 'weathericons',
  }
}
